@charset "UTF-8";

/*  基本設定  */
body{
    font-family: 'Sawarabi Mincho','メイリオ','Meiryo','Osaka',serif;
    font-size: 67.5%;
    color: #371d20;
}
a{
    text-decoration: none;
}
a:link{
    color: #371d20;
    text-decoration: none;
}
a:visited{
    color: #371d20;
    text-decoration: none;
}
.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mt30{margin-top: 30px;}
.center{text-align: center;}

/* top */
.mainimage{
    height: 400px;
    background-image: url(../img/main01.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}
.mainheader{
    display: block;
    height: 201px;
    width:100%;
    padding: 30px 0 0 0;
    background-color: rgba(55, 29, 32 , 0.8);
    position: fixed;
    z-index: 1001;
}
.mainheader_sp{
    display: none;
}
.gnavi{
    display: block;
    margin-top: 52px;
}
.gnavi_sp{
    display: none;
}
.gnavi li{
    font-size: 14px;
    display: inline-block;
}
.gnavi li a{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 120px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
    transition: .3s;
}
.gnavi li a::after {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: '';
    width: 0;
    height: 2px;
    background-color: #e3177c;
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
.gnavi li a:hover::after {
    width: 100%;
}
.gnavi li .active{
    color: #e3177c;
}

/* second top */
.menuimage{
    height: 146px;
    background-image: url(../img/menu.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}
.scheduleimage{
    height: 146px;
    background-image: url(../img/schedule.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    position: relative;
}                        
.secondheader{
    display: block;
    height: 116px;
    width:100%;
    padding: 30px 0 0 0;
    background-color: rgba(55, 29, 32 , 0.8);
    position: fixed;
}
.secondheader_sp{
    display: none;
}
.secondheader .gnavi{
    margin-top: 10px;
}

/* contents */
.contents{
    font-size: 1.2em;
    background-image:linear-gradient(-25deg, #fff 50%, #f6f6f6 50%); /* 25度マイナス回転 */
    background-image:-webkit-linear-gradient(-25deg, #fff 50%, #f6f6f6 50%);
    background-image:-moz-linear-gradient(-25deg, #fff 50%, #f6f6f6 50%);
    background-image:-ms-linear-gradient(-25deg, #fff 50%, #f6f6f6 50%);
}
.container{
    margin: 0 auto;
    max-width: 980px;
    padding: 0 20px 50px 20px;
}
.container h1{
    font-family: 'Cormorant Garamond';
    font-weight: bold;
    font-size: 3em;
    color: #371d20;
    text-align: center;
}
.con_text .h1_text{
    text-align: center;
}
.container p{
width: 500px;
margin: 0 auto;
text-align: left;
padding-top: 20px;
padding-bottom: 10px;
line-height: 1.8em;
}
.con_text{
    padding-top: 30px;
    text-align: center;
}
.con_text a{
    background:linear-gradient(transparent 70%, #ddfb97 0%);
}
.con_text a:hover{
    background:linear-gradient(transparent 70%, #ddfb97 0%);
}
.date{
    font-weight: bold;
    padding-right: 10px;
}
.title_line{
    border-bottom: 1px dotted #e3177c;
}
.new{
    width: 500px;
    margin: 20px auto;
}
.new li{
    line-height: 2.0em;
    text-align: left;
}
.menu h2{
font-family: 'Sawarabi Mincho','Cormorant Garamond','serif';
min-width: 240px;
width: auto;
height: 50px;
line-height: 50px;
font-size: 1.2rem;
font-weight: bold;
margin: 60px auto 50px;
padding: 0 25px;
border: 1px solid #371d20;
display: table;
color: #371d20;
background: url(../img/bg-mesh.png);
}
.menu h3{
    font-size: 1.4em;
    margin-top: 15px;
}
.menu p{
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
.seasonpc{
    display: block;
}
.seasonsp{
    display: none;
}
.price{
    font-size: 1.6em;
}
.cake {
    display: flex;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.cake_text{
    text-align: left;
    padding-left: 20px;
}
.cake_text h3{
    font-size: 1.6em;
    margin-top: 0;
}
.cake_text p{
    padding-top: 12px;
}
.move{
    display: flex;
    margin-top: 20px;
}
.move_div img {
    width: 90%;
    display: block;
    position: relative;
    -moz-transition: -moz-transform 0.25s ease-out;
    -webkit-transition: -webkit-transform 0.25s ease-out;
    -o-transition: -o-transform 0.25s ease-out;
    -ms-transition: -ms-transform 0.25s ease-out;
    transition: transform 0.25s ease-out;
}
.move_div img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.schedule_div{
    text-align: center;
}
.baseline{
    vertical-align: middle;
}
.schedule_div h3{
    font-size: 1.6em;
}
.schedule_table{
    border-collapse:collapse;
    margin:20px auto;
  }
.schedule_table th{
    color:#371d20;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }
.schedule_table .sun{
    color: #e3177c;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
  }
.schedule_table td{
    border-bottom:1px dashed #999;
    border-right: 1px solid #ffffff;
    font-size: 1.4em;
    text-align: center
  }
.schedule_table .holiday{
    background-color: rgba(227, 24, 124 , 0.4);
  }
.schedule_table th,tr:last-child td{
    border-bottom:2px solid #371d20;
  }
.schedule_table td,th{
    padding: 15px;
  }

/* footer */
footer{
    text-align: center;
    color: #ffffff;
    background-color: #371d20;
    font-size: 1.2em;
}
.openclose{
    padding: 20px;
}
.openclose p{
    line-height: 1.8em;
}
.ggmap {
    position: relative;
    padding-bottom: 300px;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    }
.ggmap iframe,
.ggmap object,
.ggmap embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#copyright{
    line-height: 40px;
    height: 40px;
    font-size: 1.1em;
}
#pageTop {
    background-color: #e61874;
    color: #fff;
    padding: 0.8rem 0;
    width: 7rem;
    text-align: center;
    font-size: 1rem;
    border-radius: 4px;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
    box-shadow: 5px 5px 15px rgba(55, 29, 32 , 0.4);
}
#pageTop:hover{
    background-color: rgba(227, 24, 124 , 0.7);
}

/*　画面サイズ479pxまで　*/
@media screen and (max-width:479px){
    .mainheader{
        display: none;
    }
    .mainheader_sp{
        display: block;
        height: 100px;
        width:100%;
        padding: 15px 0 0 0;
        background-color: rgba(55, 29, 32 , 0.8);
        position: fixed;
        z-index: 1001;
    }
    .mainimage{
        height: 400px;
        background-image: url(../img/main01.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        position: relative;
    }
    .secondheader{
        display: none;
    }
    .secondheader_sp{
        display: block;
        height: 100px;
        width:100%;
        padding: 15px 0 0 0;
        background-color: rgba(55, 29, 32 , 0.8);
        position: fixed;
        z-index: 1001;
    }
    .seasonpc{
        display: none;
    }
    .seasonsp{
        display: block;
    }
    .menuimage{
        height: 115px;
        background-image: url(../img/main02.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        position: relative;
    }
    .scheduleimage{
        height: 115px;
        background-image: url(../img/schedule.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        position: relative;
    }
    .gnavi{
        display: none;
    }
    .gnavi_sp{
        display: block;
        padding-top: 5px;
        margin: 0 auto;
        width: 100%;
    }
    .gnavi_sp li{
        font-size: 14px;
        display: inline-block;
    }
    .gnavi_sp li a{
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        width: 90px;
        height: 40px;
        line-height: 40px;
        color: #ffffff;
        transition: .3s;
    }
    .gnavi_sp li a::after {
        position: absolute;
        bottom: 0;
        left: 50%;
        content: '';
        width: 0;
        height: 2px;
        background-color: #e3177c;
        transition: .3s;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
      }
    .gnavi_sp li a:hover::after {
        width: 100%;
    }
    .gnavi_sp li .active{
        color: #e3177c;
    }
    .contents{
        width:100%;
    }
    .container{
        margin: 0 auto;
        max-width: 470px;
        padding: 0 20px 50px 20px;
    }
    .container p{
    width: 100%;
    margin: 0 auto;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 10px;
    }
    .con_text {
        padding-top: 15px;
        text-align: center;
    }
    .new {
        width: 300px;
        margin: 20px auto;
    }
    .move{
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .move_div{
        width: 140px;
        padding-top: 20px;
    }
    .cake {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }
    .cake_text {
        width: 100%;
        text-align: left;
        padding-left: 0;
    }
    .cake_text h3 {
        font-size: 1.4em;
        margin-top: 0;
        text-align: center;
    }
    .cake_text .price {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .menu h2 {
        font-family: 'Sawarabi Mincho','Cormorant Garamond',serif;
        min-width: 200px;
        width: auto;
        height: 50px;
        line-height: 50px;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 40px auto 40px;
        padding: 0 25px;
        border: 1px solid #371d20;
        display: table;
        color: #371d20;
        background: url(../img/bg-mesh.png);
    }
    .schedule_table{
        border-collapse:collapse;
        margin:15px auto;
      }
    .schedule_table th{
        color:#371d20;
        text-align: center;
        font-size: 1.0em;
        font-weight: bold;
      }
    .schedule_table .sun{
        color: #e3177c;
        text-align: center;
        font-size: 1.0em;
        font-weight: bold;
      }
    .schedule_table td{
        border-bottom:1px dashed #999;
        border-right: 1px solid #ffffff;
        font-size: 1.1em;
        text-align: center
      }
    .schedule_table .holiday{
        background-color: rgba(227, 24, 124 , 0.4);
      }
    .schedule_table th,tr:last-child td{
        border-bottom:2px solid #371d20;
      }
    .schedule_table td,th{
        padding: 8px;
      }
    #pageTop {
        background-color: #e61874;
        color: #fff;
        padding: 0.4rem 0.4em;
        width: 2rem;
        text-align: center;
        font-size: 1rem;
        border-radius: 4px 0 0 4px;
        position: fixed;
        bottom: 1rem;
        right: 0;
        z-index: 1000;
        box-shadow: 5px 5px 15px rgba(55, 29, 32 , 0.4);
    }
}